*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fjalla One', sans-serif;
  background:#fff;
  background-repeat:no-repeat;
  object-fit: contain;
  background-size: cover;

}



.nav-links{
  display:flex;

}

.nav-link {
  cursor: pointer;
  list-style: none;
  color: #fff;
  margin-left: 3rem;
}

.cart{
  width: 40rem;
}

.fa-shopping-cart{
font-size: 28px;
margin: auto;

}
.cart h3{
text-align: center;
width: 30px;
height: 30px;
border-radius: 50%;
position: absolute;
top: -40%;
left: 80%;
margin-right:2rem;
color: rgb(255, 255, 255);
font-size: 18px;
background-color: #e02525;
border: 1px solid #fff;

}

a.active-link {
border-bottom: 1px solid #fff;
}

.card{
  height: 400px;
  width: 300px;
}

.card img{
  margin-top: 3rem;
  min-height: 100px;
  min-width: 100px;
  max-height: 180px;
  max-width: 180px;
  margin-bottom: -3rem;



}








.product-card .buy-btn:hover {
cursor: pointer;
}

.product-card .buy-btn:active {
cursor: pointer;
background-image: linear-gradient(to right, #75333b 0%, #437996  51%, #ad4955  100%);
}

.view-btn{
background: rgba(0, 0, 0, 0.329);
position: absolute;
padding: 2rem;
margin-bottom: 2rem;
color: #fff;
opacity: 0;
z-index: 1;
top: 20%;
left: 0%;
width: 100%;
border: none;
font-size: 48px;
font-weight: 300;
}
.product-card:hover img{
 
  opacity: 50%;
  
  
  
  
  
   
  
  }
.product-card:hover .view-btn {
  cursor: pointer;
  display: block;
  opacity: 100%;
  





 

}


.product-page{
  background: #333;
  width: 70%;
  margin: auto;
  height: 70%;
}

